<a href="https://colab.research.google.com/github/Lokesh-Mathiselvan/pandas_basics/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Pandas**

In [1]:
import pandas as pd # `pd` is the most common alias :)

**Creating data:**

There are 2 basic objects in pandas lib the `DataFrame` and `Series`

A *DataFrame* is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
# Using pd.DataFrame() constructor

pd.DataFrame({
    'color': ['black', 'white'],
    'code': ['#000', '#fff']
}, index = ['color-A', 'color-B'])

         color  code
color-A  black  #000
color-B  white  #fff

A *Series* is a sequence of data values. If a DataFrame is a table, a Series is a list.

In [3]:
colors = ['black', 'silver', 'white', 'teal', 'coffee', 'red']

color_series = pd.Series(colors, name='colors')

print(color_series)

0     black
1    silver
2     white
3      teal
4    coffee
5       red
Name: colors, dtype: object

**Reading data from files (csv, excel, etc.)**

In [7]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

df.shape

(17000, 9)

In [5]:
#  To get the first 5 rows from a df

df.head() # we can also define the number of rows to return 3,10 etc

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [9]:
df.tail(3) # returns last 3 rows from the df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

**Indexing, Selecting and Assigning**

In [12]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [13]:
df.median_income # returns a series - using dot notation

0        1.4936
1        1.8200
2        1.6509
3        3.1917
4        1.9250
          ...
16995    2.3571
16996    2.5179
16997    3.0313
16998    1.9797
16999    3.0147
Name: median_income, Length: 17000, dtype: float64

In [14]:
df['median_house_value'] # selecting using bracket notation

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [15]:
df['median_house_value'][0] # returns first item from series

66900.0

In [16]:
df['median_house_value'][0:10] # returns first 10 items

0    66900.0
1    80100.0
2    85700.0
3    73400.0
4    65500.0
5    74000.0
6    82400.0
7    48500.0
8    58400.0
9    48100.0
Name: median_house_value, dtype: float64

***Using iloc***

- Index based selection

In [17]:
df.iloc[-1] # returns last row of df

longitude              -124.3500
latitude                 40.5400
housing_median_age       52.0000
total_rooms            1820.0000
total_bedrooms          300.0000
population              806.0000
households              270.0000
median_income             3.0147
median_house_value    94600.0000
Name: 16999, dtype: float64

In [21]:
df.iloc[0:10,0:2] # first 10 rows and 1st 2 columns

# indexing - [start:stop:step (rows), start:stop:step (columns)]

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64
4    -114.57     33.57
5    -114.58     33.63
6    -114.58     33.61
7    -114.59     34.83
8    -114.59     33.61
9    -114.60     34.83

***Using loc operator***

- uses labels

In [22]:
df.loc[0, ['latitude', 'longitude']]

latitude      34.19
longitude   -114.31
Name: 0, dtype: float64

**Conditional selection**

In [34]:
df[df.median_house_value > 450000]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
215,-116.43,33.75,24.0,2596.0,438.0,473.0,237.0,3.7727,500001.0
260,-116.55,33.84,28.0,2992.0,562.0,676.0,346.0,5.7613,500001.0
818,-117.07,32.91,5.0,2234.0,256.0,894.0,253.0,10.3354,477600.0
862,-117.08,34.08,34.0,45.0,11.0,39.0,14.0,3.0625,500001.0
1224,-117.13,32.63,10.0,7374.0,1157.0,1900.0,794.0,8.7991,478500.0
...,...,...,...,...,...,...,...,...,...
16421,-122.56,37.91,52.0,1972.0,327.0,755.0,345.0,7.1924,500001.0
16422,-122.56,37.90,48.0,1550.0,253.0,641.0,276.0,8.6340,463500.0
16434,-122.57,37.96,52.0,3458.0,468.0,1449.0,471.0,9.1834,500001.0
16482,-122.62,37.85,30.0,833.0,164.0,358.0,143.0,6.8198,493800.0
16512,-122.64,37.96,29.0,377.0,58.0,151.0,67.0,9.5551,500001.0

Assigning columns

In [42]:
len(df)

17000

In [46]:
df['id'] = range(1,len(df)+1)

In [49]:
df.set_index('id', inplace=True)

In [50]:
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
id,,,,,,,,,
1,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
2,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
3,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0